.win-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /*opacity: 0;*/
    /*transform: translate(-50%, -50%);*/
    /*background:*/
    /*        linear-gradient(#0007, #0000),*/
    /*        #123;*/
    background-color: black;
}

.hide {
    display: none;
}

.win {
    margin: 0;
    /*overflow: hidden;*/
}